*.avi
*.pyc
*~
*.cache
*#*
*.so
*.bmp
*.jpg
media/image/*.png
media/archive/*
*.bcl
__*.cu
__*.cl
*log.txt
log.txt*
*.linkinfo
ptx
est
config/state/*save*
*.log
sources/pypm/build/*
.directory
kernels/debug.cl
media/video/*
*.mp4